/* GENERAL*/
*{
    margin:0;
    padding:0;
}
body{
    font-family:Arial,sans-serif;
    font-size:15px
}
h1{
    font-family:'Crete Round',serif;
    font-size:45px;
    color:#444;
}
h2{
    color:#444;
    font-size:55px;
}
h4{
    font-size:20px;
    color:#444;
}
p{
    line-height: 20px;
    color:#777;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#444;
}
.wrapper{
    width: 940px;
    margin:0 auto;
    padding: 0 10px;
}
.orange{
    color:#ff7a00;
}




/*HEADER*/
header{
    height: 120px;
    margin-top:32px;
}
header h1{
    float:left;
}
header nav{
    float:right;
    margin-top:50px;
}
header nav ul li{
    float: left;
    display:inline-block;
}
header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
/*MAIN-IMAGE*/
#main-image{
    height:588px;
    background: url('image/main.jpg') center;

}
#main-image h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align:center;
    padding:150px 0 40px 0;
    margin-bottom: 20px;
}
.button-1{
    display:block;
    width: 120px;
    height:50px;
    background: #ff7a00;
    color:#fff;
    font-size:20px;
    margin:0 auto;
    line-height: 50px;
    text-align: center;
    border-radius:5px;
}
.button-1:hover{
    background: #02b8dd;
}
/*STEPs*/
#step ul{
    margin:80px 0;
}
#step ul li{
    width: 300px;
    float: left;
    text-align: center;
}
#steps h4{
    text-transform: uppercase;
    margin-bottom: 20px;
}
#ssteps p{
    margin-bottom: 20px;
}
#step-1{
   /* background: url('image/1760391906270~2.jpg') no-repeat top center;*/
}
#step-2{
    /*background: url('image/1760537999644.jpg') no-repeat top center;*/
}
#step-3{
    /*background: url('image/1760538004683.jpg') no-repeat top center;*/
}